[Unit]
Description=TeleShell Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/opt/bin/teleshell
Environment="TELESHELL_API_TOKEN=TELESHELL_API_TOKEN_HERE"
Environment="TELESHELL_PASSWORD=TELESHELL_PASSWORD_HERE"
Environment="TELESHELL_SHELL=/bin/bash"

[Install]
WantedBy=multi-user.target
